<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Online shop PEAKY BLINDERS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"></link>
  </head>
  <body>

    <!-- NAVBAR -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
  	<i class="fas fa-campground d-inline-block align-top mr-2 ml-2 mt-1 fa-lg"></i>
    Shop</a>

    <% if (isAuthenticated) { %>
      <a class="navbar-brand ml-auto" href="/add"><i class="fas fa-plus fa-lg"></i></i></a>
    <div class="navbar-brand ml-auto">
      <form action="/logout" method="post">
        <button style="	background: none;border: none;" type="submit"><i class="fas fa-times-circle fa-lg"></i></button>
      </form>
    </div>
        
     
    <%}%>

    <% if (!isAuthenticated) { %>
      <a class="navbar-brand ml-auto" href="/login"><i class="fas fa-sign-in-alt fa-lg"></i></a>
    <%}%>
  </nav>